body {
   
    background-color: #f4f7fa;
    font-family: Arial;
}

h1 {
    color: #0b5e55;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    background: white;
}

button {
    background-color: #0b5e55;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}
